In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("resources/stocks.csv", index_col="Date", parse_dates=True)

In [4]:
df.head()

                 MSFT        ^GSPC
Date
2010-01-04  23.749817  1132.989990
2010-01-05  23.757481  1136.520020
2010-01-06  23.611685  1137.140015
2010-01-07  23.366131  1141.689941
2010-01-08  23.527277  1144.979980

In [5]:
df.tail()

                  MSFT        ^GSPC
Date
2020-09-25  204.220047  3298.459961
2020-09-28  205.811951  3351.600098
2020-09-29  203.669724  3335.469971
2020-09-30  206.686539  3363.000000
2020-10-01  208.779648  3380.800049

In [6]:
df = np.log(df.pct_change() + 1)

In [7]:
df.dropna(inplace=True)

In [8]:
df.head()

                MSFT     ^GSPC
Date
2010-01-05  0.000323  0.003111
2010-01-06 -0.006156  0.000545
2010-01-07 -0.010454  0.003993
2010-01-08  0.006873  0.002878
2010-01-11 -0.012802  0.001745

In [9]:
days = 252
risk_free = 0.01

In [10]:
mean = df.mean() * days - risk_free
sigma = df.std() * np.sqrt(days)
sharpe_ratio = mean / sigma

In [11]:
sharpe_ratio

MSFT     0.758669
^GSPC    0.522284
dtype: float64

In [12]:
mean = df.mean() * days - risk_free
neg_values = df[df < 0].std() * np.sqrt(days)
sortino_ratio = mean / neg_values

In [13]:
sortino_ratio

MSFT     1.003796
^GSPC    0.601247
dtype: float64

In [14]:
compound_returns = (df + 1).cumprod()

In [15]:
compound_returns

                MSFT     ^GSPC
Date
2010-01-05  1.000323  1.003111
2010-01-06  0.994165  1.003658
2010-01-07  0.983772  1.007666
2010-01-08  0.990533  1.010565
2010-01-11  0.977853  1.012329
...              ...       ...
2020-09-25  6.077469  2.463301
2020-09-28  6.124660  2.502670
2020-09-29  6.060576  2.490597
2020-09-30  6.149689  2.511069
2020-10-01  6.211653  2.524325

[2705 rows x 2 columns]

In [16]:
peak = compound_returns.cummax()

In [17]:
peak

                MSFT     ^GSPC
Date
2010-01-05  1.000323  1.003111
2010-01-06  1.000323  1.003658
2010-01-07  1.000323  1.007666
2010-01-08  1.000323  1.010565
2010-01-11  1.000323  1.012329
...              ...       ...
2020-09-25  6.820683  2.680061
2020-09-28  6.820683  2.680061
2020-09-29  6.820683  2.680061
2020-09-30  6.820683  2.680061
2020-10-01  6.820683  2.680061

[2705 rows x 2 columns]

In [18]:
drawdown = (compound_returns - peak) / peak

In [19]:
drawdown

                MSFT     ^GSPC
Date
2010-01-05  0.000000  0.000000
2010-01-06 -0.006156  0.000000
2010-01-07 -0.016546  0.000000
2010-01-08 -0.009786  0.000000
2010-01-11 -0.022463  0.000000
...              ...       ...
2020-09-25 -0.108965 -0.080879
2020-09-28 -0.102046 -0.066189
2020-09-29 -0.111441 -0.070694
2020-09-30 -0.098376 -0.063055
2020-10-01 -0.089292 -0.058109

[2705 rows x 2 columns]

In [ ]:
for stock in compound_returns:
    fig, ax = plt.subplots(nrows=2, ncols=1, figsize=(20, 8))
    ax[0].plot(compound_returns[stock], label=stock)
    ax[0].set_title("Compound Returns")